{% include 'header.html' %}

<!-- nav -->
{% include 'nav.html' %}

<div class="wrapper">
    <div class='container'>
        <!-- content -->
        <div id='begin' class='row'>
            <div class='small-12 large-6 columns'>
              {{ content1|raw }}
            </div>
            <div class='small-12 large-6 columns'>
              {{ content2|raw }}
            </div>
        </div>
        <!-- gallery studio -->
        <div class='row'>
            <div class='container show-for-medium-up'>
                <ul class="example-orbit" data-orbit data-options="animation:fade;pause_on_hover:false;animation_speed:500;navigation_arrows:false;bullets:true;timer_speed:2500;" >
                        {% for image_url in assets %}
                        <li><img src="{{ pcurl( root ~ image_url | trim( '/' ) ) }}" alt='photo studio {{loop.index}}'></li>
                        {% endfor %} 
                    </ul> 
            </div>
            <ul class="small-block-grid-3 clearing-thumbs show-for-large-up" data-clearing>
                   {% for image_url in assets %}
                   <li><img src="{{ pcurl( root  ~ image_url | trim('/') )  }}" alt='photo studio {{loop.index}}'></li>
                   {% endfor %} 
            </ul>
        </div>
    </div>
</div>

<!-- footer -->
{% include 'footer.html' %}
