{% include 'header.html' %}

<!-- nav -->
{% include 'nav.html' %}


<div class="wrapper">
    <div class='container'>
        <!-- map -->
        <div id='begin' class='row'>
            <div id="localisation"></div>
        </div>
        <!-- content -->
        <div id='content' class='row'>
            <div class='small-12 large-6 columns'>
                {{ content1 | raw }}
            </div>
            <div class='small-12 large-6 columns'>
                {{ content2 | raw }}
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="assets/js/localisation.js"></script>
{% include 'footer.html' %}
